.title {
  text-align: center;
  font-style: italic;
}

.commonFormField {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.validateTip {
  color: red;
  font-size: 12px;
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.doneTip {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

form > div + div {
  margin-top: 12px;
}
